<% include ../layout/header %>

	<form action="/" method="post" class = "form-group">


		<label for = "hp">Index heure pleine</label>
		<input type = "text" class = "form-control" name="hp" id = "hp" placeholder = "Entrer index heure pleine">

		<label for = "hc">Index heure creuse</label>
		<input type = "text" class = "form-control" name="hc" id = "hc" placeholder = "Entrer index heure creuse">

		<button type = "submit" class = "btn btn-default">Envoyer</button>
		
	</form>

<% include ../layout/footer %>

